#main{
    max-width: 400;
    margin: 0 auto;
    padding: 20;
    border:black;
    border-radius: 12px;
    border-style: solid;
    box-shadow: 10px 10px;
}
#header{
    height: 150;
}
#head{
    margin-top: 100;
    text-align: center;
}
#buttons{
    margin: 0 auto;
	position: absolute;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#subm{
    margin: 0 auto;
	position: absolute;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
#top{
    margin: 0 10px;
}
#botnav{
    border: white;
    border-radius: 10px;
}
